
<table>
    <tr>
        <th>Id</th>
        <th>car Name</th>
        <th>Car Company </th>
        <th>Car FuelType</th>
        <th>Car powerStreering</th>
        <th>Car BreakSystem</th>
        <th>Car ShowRoom</th>
        <th>Car OnRoadPrice</th>
        <th>Car ImageUrl</th>
        <th>Car Mileage</th>
        <th>Car SeatingCapacity</th>
        <th>Car EngineCapacity</th>
        <th>Car GearType</th>
        <!-- <th>Admin</th> -->
    </tr>

    <tr *ngFor="let r of  allDetails">
        <td>{{r._id}}</td>
        <td>{{r.name}}</td>
        <td>{{r.companyName}}</td>
        <td>{{r.fuelType}}</td>
        <td>{{r.powerSteering}}</td>
        <td>{{r.breakSystem}}</td>
        <td>{{r.showroomPrice}}</td>
        <td>{{r.onRoadPrice}}</td>
        <td>{{r.imageUrl}}</td>
        <td>{{r.mileage}}</td>
        <td>{{r.seatingCapacity}}</td>
        <td>{{r.engineCapacity}}</td>
        <td>{{r.gearType}}</td>
        <!-- <td>{{r.adminId}}</td> -->
        <!-- <button type="button" [routerLink]="['/update',r._id]">update</button> -->
        <button (click)="delete(r._id)" type="button">Delete</button>

    </tr>


</table>
